/*
CSS 노말라이즈
*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  background-color: pink;
}

.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%;
  margin: 0px auto;
}

.btn {
  text-decoration: none;
  font-style: normal;
  text-align: center;
  display: inline-block;
  color: white;
  font-weight: 1000;
  font-size: 45px;
  letter-spacing: -1px;
  border-radius: 20px;
  padding: 5px 15px;
  margin-left: -4px;
  margin: 20px;
  background-image: linear-gradient(135deg, #ff6f7d, #a7d3ff);
}

.progress-bar {
  width: 60%;
  background-color: #fff;
  height: 30px;
  border-radius: 10px;
}

.percent {
  background-color: #fbe400;
  height: 30px;
  border-radius: 10px;
}

.main-img {
  height: 500px;
}

h1 {
  font-size: 40px;
  padding: 30px;
  color: #ff6f7d;
  margin: 1px;
}

.Answer {
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  color: #ff73b8;
  background: #fff;
  width: 500px;
  font-size: 20px;
  border-radius: 20px;
  padding: 5px 15px;
  margin-left: -4px;
  border: 2px solid #ef73b8;
  text-align: center;
  margin: 10px;
}

.top-text {
  font-style: normal;
  text-decoration: none;
  font-size: 25pt;
  width: 100%;
  top: 8px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  margin-bottom: 5px;
  color: #ef73b8 !important;
  text-shadow: 0 0 2px white, 0 0 3px #ef73b8;
}

.bouttom-text {
  font-style: normal;
  text-decoration: none;
  font-size: 18pt;
  width: 100%;
  top: 8px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  margin-bottom: 10px;
  color: #ef73b8 !important;
  text-shadow: 0 0 2px white, 0 0 3px #ef73b8;
}

.bouttom-textINE {
  font-style: normal;
  text-decoration: none;
  font-size: 18pt;
  width: 100%;
  top: 8px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  margin-bottom: 10px;
  color: #8a2be2 !important;
  text-shadow: 0 0 2px white, 0 0 3px #8a2be2;
}

.bouttom-textJUL {
  font-style: normal;
  text-decoration: none;
  font-size: 18pt;
  width: 100%;
  top: 8px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  margin-bottom: 10px;
  color: #800080 !important;
  text-shadow: 0 0 2px white, 0 0 3px #800080;
}

.bouttom-textJBG {
  font-style: normal;
  text-decoration: none;
  font-size: 18pt;
  width: 100%;
  top: 8px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  margin-bottom: 10px;
  color: #f0a957 !important;
  text-shadow: 0 0 2px white, 0 0 3px #f0a957;
}

.bouttom-textGSG {
  font-style: normal;
  text-decoration: none;
  font-size: 18pt;
  width: 100%;
  top: 8px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  margin-bottom: 10px;
  color: #467ec6 !important;
  text-shadow: 0 0 2px white, 0 0 3px #467ec6;
}

.bouttom-textVII {
  font-style: normal;
  text-decoration: none;
  font-size: 18pt;
  width: 100%;
  top: 8px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  margin-bottom: 10px;
  color: #85ac20 !important;
  text-shadow: 0 0 2px white, 0 0 3px #85ac20;
}

.bouttom-textLIL {
  font-style: normal;
  text-decoration: none;
  font-size: 18pt;
  width: 100%;
  top: 8px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  margin-bottom: 10px;
  color: #000080 !important;
  text-shadow: 0 0 2px white, 0 0 3px #000080;
}

.Onc-img {
  height: 450px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
  border-radius: 20px;
}

.result-img {
  width: 390px;
  height: 525px;
  margin: 30px;
}

.result-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  font-size: 20px;
  padding: 10px;
  color: #ff6f7d;
  margin: 1px;
}

.idbutn {
  text-decoration: none;
  font-style: normal;
  text-align: center;
  display: inline-block;
  color: white;
  font-weight: 1000;
  font-size: 30px;
  letter-spacing: -1px;
  border-radius: 20px;
  padding: 5px 15px;
  margin-left: -4px;
  background-image: linear-gradient(135deg, #ff6f7d, #a7d3ff);
}

.Login-main {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 35%;
  left: 35%;
}

.Login-input {
  width: 60%;
  height: 60px;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 35px;
}

.Login-btn {
  text-decoration: none;
  font-style: normal;
  text-align: center;
  display: inline-block;
  color: white;
  font-weight: 1000;
  font-size: 45px;
  border-radius: 20px;
  padding: 5px 15px;
  width: 60%;
  background-image: linear-gradient(135deg, #ff6f7d, #a7d3ff);
}
